.form {
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #399b96;
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0px 0px 50px;
}

.m-2 {
  margin-top: 10px;
}

.category_name {
  margin-bottom: 10%;
  color: #2e72d2;
}
.input_one textarea {
  width: 91%;
  height: 6.5em;
  border: 2px solid #b5d3ff;
  border-radius: 3px;
  resize: vertical;
  min-height: 2em;
  max-height: 12em;
}

.input_one textarea:focus-visible {
  outline: none;
}
.input_one {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
}

.input_two textarea,
.input_three textarea {
  width: 100%;
  height: 102px;
  border: 2px solid #e0e4ec;
  border-radius: 3px;
}
.input_one,
.input_two,
.input_three {
  margin-bottom: 5%;
}
.submitButton button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: "Bold";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #154B89;
  background: #ffffff;
  border: 4px solid #154B89;
  border-radius: 7px;
  width: 91%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.submitButton button:hover {
  font-family: "Manrope";
  font-style: normal;
  font-weight: "Bold";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #154b89;
  border: 7px solid #154B89;
  border-radius: 7px;
  width: 91%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
}
.submitButton button:disabled {
  filter: opacity(1);
  filter: grayscale(1);
}

.main-division {
  display: flex;
  /* cursor: pointer; */
}
label {
  cursor: pointer !important;
}
.output-container {
  height: 75vh;
  overflow-y: scroll;
}
.output-layout {
  border-radius: 8px;
  margin: 14px;
  background: #b5d3ff;
  color: white;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
}
.ot-hd {
  font-size: 22px;
  background: #b5d3ff;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  font-weight: 600;
  color: black;
  text-align: center;
}

.ot-bd {
  font-size: 18px;
  color: black;
  font-weight: 600;
  font-family: Manrope;
  padding: 10px;
  white-space: pre-wrap;
}

.cpy-btn {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  background: #B5D3FF;
  border: 2px solid #154B89;
  border-radius: 5px;
  color: #154B89;
  width: 58px;
  height: 34px;
  font-weight: Bold;
  text-transform: uppercase;
}

.cpy-btn:hover{
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  background: #154B89;
  color: #fff;
  width: 58px;
  height: 34px;
}

.cpyall-btn {
  display: block;
  margin: 16px 0px 2px 130px;
  background: #ffff;
  border: 2px solid #154B89;
  border-radius: 7px;
  color: #154B89;
  font-weight: 600;
  font-family: serif;
  text-transform: uppercase;
}

.cpyall-btn:hover {
  display: block;
  margin: 16px 0px 2px 130px;
  border: 2px solid #154B89;
  border-radius: 7px;
  background: #154B89;
  color: #fff;
  font-weight: 600;
  font-family: serif;
  text-transform: uppercase;
}
.hd-cp {
  position: relative;
}
h1.text-status {
  position: absolute;
  background: #154B89;
  font-size: 25px;
  padding: 6px;
  width: max-content;
  right: 60px;
  top: 0PX;
  border-radius: 4px;
}
.text-cp-al {
  background: #154B89;
  font-size: 22px;
  font-weight: 600;
  padding: 6px;
  width: max-content;
  border-radius: 4px;
  margin: auto;
  margin-top: 10px;
  color: #fff;
}
.lg-title{
margin-top: 16px;
}

.tone-btn {
  border: 2px solid #b5d3ff !important;
  width: 120px !important;
  text-transform: capitalize !important;
}
.tone-btn-selected {
  background-color: #154b89 !important;
  color: #fff !important;
  width: 120px !important;
  text-transform: capitalize !important;
}

.tone-btn:hover {
  border: 2px solid #b5d3ff;
  background-color: #154b89 !important;
  color: #fff;
  width: 120px;
  text-transform: capitalize;
}

.home-btn {
  text-align: center;
  text-decoration: none;
  border: 0.000005rem solid #000;
  border-radius: 8px;
  background: #b5d3ff;
  color: #000 !important;
  font-weight: 600 !important;
  margin: 5px;
  padding: 8px;
}

.home-btn:hover {
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid #b5d3ff;
  background: #154b89;
  color: #fff !important;
  font-weight: 600;
}

.err-msg {
  display: flex;
  font-size: 26px !important;
  justify-content: center;
  border: 2px solid #e15e28;
  margin: 10px;
  font-weight: 700;
  color: #e15e28;
}

strong {
  color: black;
}
.side-Bar {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.side-Bar .dropdown {
  display: contents;
}

.dropdown-menu.show {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-secondary::after {
  display: none;
}

.dropdown-toggle::after {
  display: none !important;
}

.arrow-img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
/* [area-expanded="true"] img {
  transform: rotate (180);
} */
button[aria-expanded="true"] {
  background-color: #154b89 !important;
  color: #ffffff;
}
button[aria-expanded="true"] img {
  transition: ease 0.7s;
  transform: rotate(180deg);
}
button[aria-expanded="false"] img {
  transition: ease 0.7s;
  transform: rotate(0deg);
}
