/* .form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #399b96;
  font-size: 20px;
  font-weight: 600;
} */
.form {
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #399b96;
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0px 0px 20px;
}
.category_name {
  margin-bottom: 10%;
  color: #2e72d2;
}
.input_one input {
  width: 100%;
  height: 102px;
  border: 2px solid #B5D3FF;
  border-radius: 3px;
}

.input_one input:focus-visible {
  outline: none;
}
.input_one {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
}

.input_two input,
.input_three input {
  width: 100%;
  height: 102px;
  border: 2px solid #e0e4ec;
  border-radius: 3px;
}
.input_one,
.input_two,
.input_three {
  margin-bottom: 5%;
}
.submitButton label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #154B89;
  border-radius: 4px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-division {
  display: flex;
  cursor: pointer;
}
label {
  cursor: pointer !important;
}

.output-layout {
  border-radius: 8px;
  margin: 14px;
  background: #B5D3FF;
  color: white;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
}
.ot-hd {
  font-size: 22px;
  background: #B5D3FF;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  font-weight: 600;
  color: black;
  text-align: center;
}

.ot-bd {
  font-size: 18px;
  color: black;
  font-weight: 600;
  font-family: Manrope;
  padding: 10px;
}

.cpy-btn {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  background: #154B89;
  border-radius: 5px;
  color: #FFF;
  width: 58px;
    height: 34px;
}

.cpyall-btn {
  display: block;
  margin: auto;
  background: #154B89;
  border: 7px solid #154B89;
  border-radius: 7px;
  color: #fff;
  font-weight: 600;
  font-family: serif;
}

.tone-btn {
  border: 2px solid #B5D3FF !important;
  width: 120px !important;
  text-transform: capitalize !important;
}
.tone-btn-selected {
  background-color: #154B89 !important;
  color: #fff !important;
  width: 120px !important;
  text-transform: capitalize !important;
}

.tone-btn:hover {
  border: 2px solid #B5D3FF;
  background-color: #154B89 !important;
  color:#fff;
  width: 120px;
  text-transform: capitalize;
}

.home-btn {
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid #B5D3FF;
  background: #B5D3FF;
  color: black;
  font-weight: 600;
}

.home-btn:hover {
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid #B5D3FF;
  background: #154B89;
  color: #fff;
  font-weight: 600;
}

.err-msg {
  display: flex;
  font-size: 26px !important;
  justify-content: center;
  border: 2px solid #e15e28;
  margin: 10px;
  font-weight: 700;
  color: #e15e28;
}

strong{
  color: black;
}
