body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.categoris_main {
  position: absolute;
  width: 75%;
  top: 0px;
  background: #ffffff;
}

.categori-mainmenu {
  position: absolute;
  width: 100%;
  height: 69px;
  top: 110px;
  overflow: hidden;
  background: #edf2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 0.5px solid #399b96;
  color: #399b96;
}
