.App {
  font-family: "Manrope";
}

.logo-panel {
  background-image: url("../src/assets/images/Sidebar-bg.png");  
  height: 100vh;
  border-right: 1px solid #e0e4ec;
  box-shadow: 3px 5px 14px 0px;
}

/*h2 {
  margin-left: -5%;
  color: #2e72d2;
  margin-top: 5% !important;
  font-family: "Manrope";
  
}*/

.buttons-panel {
  font-size: 36px;
  margin-left: 10%;
}

.category-title {
  display: flex;
  margin-bottom: 15px;
  color: #2e72d2;
  align-items: center;
  /* align-content: center; */
  flex-direction: column;
}

.side-Bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-secondary{
  background-color: #B5D3FF !important;
  color: black !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin: 5px;
}

.btn-secondary:hover{
  background-color: #154B89  !important;
  color: white !important;
}

.dropdown-menu-dark {
  color: black !important;
  background-color: #B5D3FF !important;
  
}

a.dropdown-item {
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
  margin: 10px;
  padding: 3px;
  color: black;
  
}
a.dropdown-item:hover{
  background-color: #154B89 ;
  color: white !important;
}


.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}


.splitScreen{
  display: 'flex';
  flex-direction: 'row';
}


.topPane{
  width: '50%';
}

.bottomPane {
  width: '50%';
}


footer {
  position: fixed;
  background-color: #B5D3FF;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-family: "Manrope";
}


.infobutton {
  position: absolute;
  width: 229px;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  background: #2C5D95;
  border: 7px solid #2C5D95;
  border-radius: 7px;
  cursor: pointer;
  margin-left: -1.5%;
}


.infobutton:hover {
  position: absolute;
  transform: scale(1.05);
  transition-duration: 0.5s;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  background: #154B89;
  border: 7px solid #154B89;
  border-radius: 7px;
  cursor: pointer;
  margin-left: -1.5%;
}


.skipbutton {
  position: absolute;
  width: 229px;
  height: 50px;
  color: #154B89;
  font-weight: bold;
  font-size: 24px;
  background: #ffffff;
  border: 7px solid #154B89;
  border-radius: 7px;
  cursor: pointer;
}

.skipbutton:hover {
  position: absolute;
  transform: scale(1.05);
  transition-duration: 0.5s;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  background: #154B89;
  border: 7px solid #154B89;
  border-radius: 7px;
  cursor: pointer;
}


/*
style={{ position: "absolute", width: "229px", height: "45px", color: "#154B89", fontWeight: "bold", fontSize: "24px", border: "7px solid #154B89"}}


style={{ position: "absolute", width: "229px", height: "45px", backgroundColor: "#2C5D95", color: "white", fontWeight: "bold", fontSize: "24px", marginLeft: "-1.5%"}}

.infobutton:before {
  position: "absolute";
  width: 229px;
  height: 45px;
  background-color: #000;
  font-weight: bold;
  font-size: 24px;
  margin-top: "1.3%";
  border-radius: 10;
}


.infobutton:hover {
  position: "absolute";
  width: 229px;
  height: 45px;
  background-color: #154B89;
  border: 7px solid;
  border-color: #154B89;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  margin-top: "1.3%";
  border-radius: 10;
}


.skipbutton {
  position: absolute;
  width: 229px;
  height: 45px;
  color: #154B89;
  font-weight: bold;
  font-size: 24px;
  border: 7px solid;
  border-color: #154B89;
}



.button {
  background-color: rgb(128, 11, 11);
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.infobutton {
  position: absolute;
  width: 229px;
  height: 50px;
  background-color: rgba(21, 75, 137, 0.9);
  border-radius: 7px;
}*/



