logofont {
  overflow: hidden;
  font-family: "Inter";
  font-style: bold;
  font-size: 32px;
  color: #2e72d2;
}

@media only screen and (max-width: 600px) {
  .img-logo img {
    width: 70% !important;
    margin-top: 0 !important;
    padding: 2px;
  }
  .img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .text-logo h2 {
    font-size: 22px !important;
    font-weight: 1000;
    margin-left: 7% !important;
    margin-top: 4% !important;
  }
}
/* .text-logo h2,
.img-logo {
  display: none;
} */
