body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "ManropeBold";
  src: local("ManropeBold"),
    url("./fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: "ManropeRegular";
  src: local("ManropeRegular"),
    url("./fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
}


